:root {
  --font-primary: 'Poppins', sans-serif;
  --color-white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input, select, textarea, button {
  border: none;
  box-shadow: none;
  outline: none;
  background: none;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

ul, ol {
  list-style: none;
}

body {
  font-family: var(--font-primary);
}

.wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  
}

main {
  padding: 68px 24px;
  text-align: center;
  color: var(--color-white);
  background: hsl(0, 100%, 74%) url(../images/bg-intro-mobile.png) no-repeat top center/cover;
  mix-blend-mode: multiply;
  overflow-x: hidden;
}

.content {
  margin-bottom: 64px;
}

.content h1 {
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.291667px;
}

.content p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.banner {
  height: 88px;
  margin-bottom: 24px;
  padding: 18px 66px;
  background: #5E54A4;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
}

.banner h2 {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.267857px;
}

.banner h2 strong {
  font-weight: 700;
}

form {
  padding: 24px;
  background-color: var(--color-white);
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
}

form,
input {
  border-radius: 10px;
}

input {
  margin-bottom: 16px;
  padding: 15px 20px;
  border: 1px solid #DEDEDE;
  border-radius: 10px;
}

input,
input::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.25px;
  color: #3D3B48;
}

input::placeholder {
  opacity: 0.75;
}

input,
button {
  width: 100%;
}

button {
  height: 56px;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #38CC8B;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
  border-radius: 5px;
  color: var(--color-white);
}

form p {
  padding: 8px 16px 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 21px;
  color: #BAB7D4;
}

form p strong {
  font-weight: 700;
  color: #FF7979;
}